/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.idea/
/composer.lock
/app/uploads/*
!/app/uploads/charte1.pdf
!/app/uploads/charte2.pdf
!/app/uploads/charte3.pdf
!/app/uploads/CHARTE_DE_LA_PERSONNE_ACCUILLIE.pdf
!/app/uploads/CHARTE_INFORMATIQUE.pdf
/web/uploads/*