.sonata-autocomplete-dropdown {
    min-width: 300px;
}

/* Statistiques */
#block__badges{
    background-color: #2DAB62;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
}
#block__cles{
    background-color: #7266BA;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
}
#block__tenues{
    background-color: #6BAFBD;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
}

.blocks__statuser{
    text-align: center;
    color:white;
}

.navbar-static-top .navbar-right li:last-of-type a {
    display: inline-block;
}