.help a {
    color:#D5661D;
}
.help a:hover,a:focus {
    box-shadow:0 1px 0 rgba(255,255,255,.4);
}
.help a span {
    position:absolute;
    margin-top:23px;
    margin-left:-35px;
    color:#014C2D;
    text-align: center;
    background:rgba(207,231,221,1);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(207,231,221,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
    z-index: 1;
}
.help a:hover span, a:focus span {
    transform:scale(1) rotate(0deg);
    opacity:1;
}
p.help {
       margin-top: 5px;
}
