body {
    font-family: "Roboto", sans-serif;
}

.navbar-brand {
    display: block;
    background: url('../img/ch-la-loupe.png') no-repeat center;
    width: 112px;
    height:82px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar li {
    height:82px;
}

.navbar li a {
    line-height:50px;
}

.navbar .profile-link a {
    padding-top: 11px;
}

.navbar .profile-link img {
    margin-right:5px;
}

.navbar li:hover {
    background: #dddddd;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.show_profile ul {
    max-width: 400px;
}
.show_profile ul li {
    padding: 7px 0;
    list-style: none;
}

.show_profile ul li + li {
    border-top: 1px solid #cccccc;
}

.show_profile .photo-profile {
    margin-right: 30px;
}

.trombinoscope {
    margin: 30px -20px;
    padding: 0;
    text-align: center;
}

.trombinoscope figure {
    display: inline-block;
    padding: 20px;
}

.trombinoscope figcaption {
    text-align: center;
    padding-top:5px;
}

.secondary-services + .secondary-services {
    margin-top:20px;
}

.page-title {
    text-align: center;
    font-size:45px;
    margin-bottom:30px;
    padding-bottom:15px;
    border-bottom:1px solid #cccccc;
    color: rgb(213,102,29);
}

.chartes-list h3 {
    margin-top:0;
}

.panel-info>.panel-heading {
    color: rgb(7,76,45);
    background-color: #cfe7dd;
    border-color: #9ccdb9;
}

.panel-info {
    border-color: #9ccdb9;
}

h4 {
    color:#38785e;
}

#chartesTable{
    margin-bottom: 30px;
    border-bottom:1px solid #cccccc;
}

