/** GENERAL **/
body {
    font-family: "Roboto", sans-serif;
}

.page-title {
    text-align: center;
    font-size:45px;
    margin-bottom:30px;
    padding-bottom:15px;
    border-bottom:1px solid #cccccc;
    color: rgb(213,102,29);
}

.btn-primary {
    background-color: #1b7e5a;
    border-color: rgb(7,76,45);
    transition: 0.3s;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: rgb(7,76,45);
    border-color: #1b7e5a;
    -webkit-transition: 0.4s;
    -moz-transition:0.4s;
    transition: 0.4s;
}

/** NAVBAR **/
.navbar-brand {
    display: block;
    background: url('../img/logoIntranet.png') no-repeat center;
    width: 138px;
    height:85px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar li {
    height:85px;
}

.navbar li a {
    line-height:50px;
}

.navbar .profile-link a {
    padding-top: 11px;
}

.navbar .profile-link img {
    margin-right:5px;
}

.navbar li:hover {
    background: #dddddd;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
/** ENDNAVBAR **/

/** PROFILE **/
.show_profile ul {
    max-width: 400px;
}
.show_profile ul li {
    padding: 7px 0;
    list-style: none;
}

.show_profile ul li + li {
    border-top: 1px solid #cccccc;
}

.show_profile .photo-profile {
    margin-right: 30px;
}

.secondary-services + .secondary-services {
    margin-top:20px;
}

.chart_pdf {
    margin: 0 auto;
    width: 100%;
}

.signature_chart {
    text-align: center;
}

.signature_chart .checkbox,
.signature_chart .submit {
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
}

.signature_chart .checkbox {
    font-size:20px;
}

.signature_chart .checkbox input {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    margin-top:8px;
    margin-left:-25px;
}
/** END PROFILE **/

.chartes-list h3 {
    margin-top:0;
}

.panel-info>.panel-heading {
    color: rgb(7,76,45);
    background-color: #EEF9EA;
    border-color: #9ccdb9;
}

.panel-info {
    border-color: #9ccdb9;
}

h4 {
    color:#38785e;
}

.panel-body-copieur h4 {
    text-align: center;
    color: #D5661D;
    font-size: 30px;
}

a {
    color: #D5661D;
}

a:hover {
    color: #903A00;
    text-decoration: none;
    -webkit-transition: 0.4s;
    -moz-transition:0.4s;
    transition: 0.4s;
}

#chartesTable{
    margin-bottom: 30px;
    border-bottom:1px solid #cccccc;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: 1px solid #cccccc;
    border-bottom-width: 2px;
}

/** TROMBINOSCOPE **/
.trombinoscope {
    margin: 30px -20px;
    padding: 0;
    text-align: center;
    font-size: 0;
}

.trombinoscope figure {
    display: inline-block;
    margin: 10px;
    border: 1px solid #cccccc;
    font-size:16px;
    overflow: hidden;
    cursor: pointer;
}

.trombinoscope figure:hover figcaption {
    bottom: 0;
    -webkit-transition: 0.4s;
    -moz-transition:0.4s;
    transition: 0.4s;
}

.trombinoscope figcaption {
    text-align: center;
    padding-top:5px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    background: #fff;
    font-size:14px;
    font-weight:300;
    line-height:1.6;
    transition: 0.3s;
}

.trombinoscope-page h2 {
    color: rgb(7,76,45);
}

.trombinoscope .section + .section {
    padding-top:15px;
    margin-bottom:30px;
    border-top:1px solid #cccccc;
}

.trombinoscope .img {
    position: relative;
    max-height:200px;
    min-height:180px;
}

.trombinoscope img {
    max-height: 190px;
}

.trombinoscope .chef {
    position: absolute;
    top:0;
    left: 0;
    background: rgb(7,76,45);
    padding: 3px;
    color: #cfe7dd;
    font-weight:300;
    font-size:12px;
}

.trombinoscope-page .list-group,
.trombinoscope-page .form-control{
    max-width: 240px;
}
.affix {
    top:0;
}

.list-group-item {
    background-color: rgba(207,231, 221, 0.3);
    border: 1px solid #9ccdb9;
}

a.list-group-item:focus,
a.list-group-item:hover {
    color: rgb(7,76,45);
    background-color: #cfe7dd;
    -webkit-transition: 0.4s;
    -moz-transition:0.4s;
    transition: 0.4s;
}

.change-password {
    max-width: 900px;
    margin: 50px auto;
}