.navbar-brand {
    display: block;
    background: url('../img/ch-la-loupe.png') no-repeat center;
    width: 112px;
    height:82px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar li {
    height:82px;
}

.navbar li a {
    line-height:50px;
}

.navbar li:hover {
    background: #dddddd;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.show_profile {
    max-width: 400px;
}
.show_profile li {
    padding: 7px 0;
    list-style: none;
}

.show_profile li + li {
    border-top: 1px solid #cccccc;
}
