{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a href="{{ path('iuch_get_charte', {'charte_file': object.charteFile}) }}" target="_blank">{{ object.fileName }}</a>
{% endblock %}
