{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if value.id is defined %}
        <a href="{{ path('admin_sonata_user_user_edit', {'id': value.id }) }}"><strong style="display:block">{{ value.username }}</strong> {{ value.firstname }} {{ value.lastname }}</a>
    {% endif %}
{% endblock %}