{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_header %}
    <div class="bg-info" style="padding: 10px;">
        <p class="text-info">Seul le dernier mail de bienvenue sera pris en compte et sera envoyé aux derniers utilisateurs.</p>
        <p class="text-info">Les mails d'information peuvent être envoyés indéfiniment en cliquant sur <strong>"envoyer"</strong></p>
    </div>
{% endblock %}