{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_header %}
    <div class="alert-info" style="padding: 10px;">
        <p class="text-info">Seul le dernier mail de bienvenue sera pris en compte et sera envoyé aux derniers utilisateurs.</p>
        <p class="text-info">Les mails d'information peuvent être envoyés indéfiniment en cliquant sur "envoyer"</p>
        <p class="text-info">Si le mail est créé, il n'est plus possible d'en supprimer des pièces jointes, seulement d'en rajouter. (sinon il faut supprimer le mail ou en créer un autre)</p>
    </div>
{% endblock %}