{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row">
        <div class="col-md-6">
            <h3>Mes Statistiques</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel turpis at lacus
                vehicula fringilla at eu lectus. Duis vitae arcu congue, porttitor nisi sit amet,
                mattis metus. Nunc mollis elit ut lectus cursus luctus. Aliquam eu magna sit amet
                massa volutpat auctor.
                </p>
        </div>

        <div class="col-md-6">
            <h3>Mon Camembert</h3>
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Mes Résultats</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel turpis at lacus
                vehicula fringilla at eu lectus. Duis vitae arcu congue, porttitor nisi sit amet,
                mattis metus. Nunc mollis elit ut lectus cursus luctus. Aliquam eu magna sit amet
                massa volutpat auctor.
            </p>
        </div>

        <div class="col-md-6">
            <h3>Mes Chartes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel turpis at lacus
                vehicula fringilla at eu lectus. Duis vitae arcu congue, porttitor nisi sit amet,
                mattis metus. Nunc mollis elit ut lectus cursus luctus. Aliquam eu magna sit amet
                massa volutpat auctor.
            </p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#myChart").get(0).getContext("2d");
            // For a pie chart
            var myPieChart = new Chart(ctx).Pie({{ datas|raw }});
        });
    </script>

{% endblock %}