{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="stats" class="container">
        <div class="col-md-12">
            <h2>Matériel remis :</h2>
            <div id="stats-blocks" class="row">

                <div id="block__tenues" class="col-md-4 blocks__statuser">
                    <h2><i class="fa fa-male"></i> Tenues</h2>
                    <h1>{{ tenues }}</h1>
                </div>

                <div id="block__cles" class="col-md-4 blocks__statuser">
                    <h2><i class="fa fa-key"></i> Clés</h2>
                    <h1>{{ cles }}</h1>
                </div>

                <div id="block__badges" class="col-md-4 blocks__statuser">
                    <h2><i class="fa fa-credit-card"></i> Badges</h2>
                    <h1>{{ badges }}</h1>
                </div>

            </div>

        </div>
    </div>

{% endblock %}