{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row">
        <div class="col-md-12">
            <h3>Statistiques Chartes</h3>
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#myChart").get(0).getContext("2d");
            // For a pie chart
            var myPieChart = new Chart(ctx).Pie({{ datas|raw }});
        });
    </script>

{% endblock %}