<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changer mot de passe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/iuch/css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="change-password">
        <div class="span12 col-lg-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>
                </div>
                <div class="panel-body">
                    {% include "ApplicationSonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
                </div>
            </div>
        </div>
</body>
</html>
